[submodule "external/glfw"]
	path = external/glfw
	url = https://github.com/glfw/glfw.git
[submodule "external/glm"]
	path = external/glm
	url = https://github.com/g-truc/glm.git
[submodule "external/OBJ-Loader"]
	path = external/OBJ-Loader
	url = https://github.com/Bly7/OBJ-Loader.git
[submodule "external/Epsilon-Intersection"]
	path = external/Epsilon-Intersection
	url = https://github.com/Jojendersie/Epsilon-Intersection.git
